*.docx
*.csv
*.svg
*.png
*.tiff
*.ods
*.ods#
*.xlsx
!/**/
*.pyc
*.doc
*.ftr
*.bbl
*.tmp
*.o
*.out
*.exe
*.aux
*.bcf
*.log
*.pdf
*.run
*.xml
*.zip
*.tar
*.gz
*.xlsx#
checkpoint.ipynb
.Rhistory
inper.code-workspace